<div class="row nav">
  <a href="/request">
    <h5 id="store" class="three columns">
      <div class="rightheader"> <img
        src="/images/logo.PNG"
        class="img-thumbnail"
        height="auto"
        width="45px"
        border-radius="100%"
      /></a>Inventory Logistics System
    </h5>
  
  
 
 </div>
</div>
