<!DOCTYPE html>
<html lang="en">
  <head>
      
                <% include ./partials/head.ejs %>
              
    <title>Edit Request</title>
  </head>
  <body>
        <% include ./partials/nav.ejs %>
    <h1>Inventory Logistics - Doctors Across Borders</h1>
    <h2>Edit Order</h2>
       
      </body>
    </html>
    <footer>
    <% include ./partials/footer.ejs %>
    </footer>
  </body>
</html>